::-webkit-scrollbar {
  display: none;
}
:root {
  --color-main: #ff3d00;
}
html {
  scroll-behavior: smooth;
}

form.loginform {
  padding: 10px;
  border-radius: 12px;
  border: solid 1.5px var(--color-main);
  min-width: calc(min(80vw, 400px));
  height: fit-content;
  padding-bottom: 2rem;
}

